* {
  background-color: #000;
}
header {
  background-color: #686868;
  margin-top: 0px;
  padding: 40px;
}
h1 {
  background-color: #686868;
  text-align: center;
  color: #ffff;
}

.song-list {
  color: #ffff;
  height: 100%;
  justify-items: center;
  
}

p {
  color: #686868;
  
}

.song-card {
  padding: 20px;
  margin: 40px;
  width: 80%;
  border: 2px, solid #ffff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  justify-content: space-between;
}




